<div>

    <mat-grid-list cols="4" rowHeight="100px">

        <mat-grid-tile [colspan]="3" [rowspan]="6" class="mat-grid-list-card">

            <div class="container-card">

                <mat-card class="mat-card-teams">
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>
    
                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>

                <mat-card class="mat-card-teams">  
                    <mat-card-header>
    
                      <mat-card-title>Real Madrid</mat-card-title>
    
                    </mat-card-header>
    
                    <img mat-card-image src="../../../../assets/img/Real-madrid.png" alt="Photo of a Shiba Inu">
                </mat-card>
                

            </div>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="6" class="mat-grid-list-statistics">

            <div class="container-statistics">
                <div class="statistics-description">

                    <div class="div-icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">sports_soccer</mat-icon>
                    </div>

                    <div class="div-label">
                        <mat-label>94</mat-label>
                    </div>

                </div>
            </div>

            <div class="container-statistics">
                <div class="statistics-description"> 

                    <div class="div-icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">stars</mat-icon>
                    </div>

                    <div class="div-label">
                        <mat-label>94</mat-label>    
                    </div>
                    
                </div>
            </div>

            <div class="container-statistics">
                <div class="statistics-description">

                    <div class="div-icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
                    </div>

                    <div class="div-label">
                        <mat-label>94</mat-label>
                    </div>
                    
                </div>
            </div>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1" class="mat-grid-list-list_players">

            <button mat-button color="primary" class="button-list-players">Ver lista de jugadores</button>

        </mat-grid-tile>

    </mat-grid-list>

</div>
